<main><div
  class="relative pt-16 pb-32 flex content-center items-center justify-center"
  style="min-height: 90vh;"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style='background-image: url("assets/img/e68b3dc7e1a7deb3b77e48926367073a.jpg");'
  >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
        <div class="pr-12">
          <h1 class="text-white font-semibold text-5xl">
            Projects
          </h1>
          <p class="mt-4 text-lg text-gray-300">
            Here you can find all my projects.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px;"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-gray-300 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</div>
  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">

        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-12/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-blue-600"
          >
            <img
              alt="..."
              src="assets/img/shamingcardgame.jpeg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block"
                style="height: 95px; top: -94px;"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-blue-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Shaming
              </h4>
              <p class="text-md font-light mt-2 text-white">
                How would you go against shaming in the office?
              </p>
            </blockquote>
          </div>
        </div>
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-user-friends text-xl"><img src="assets/img/info.png" height="128"
                                                        width="128"/></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            A card game to share around in the office
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
            Together with Laurentiu we designed a card game which gives you the opportunity to express yourself without putting the spotlight onto yourself.
            This creates an environment where you're not put into an uncomfortable spot, but you're still showing other people what your thought process is.
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
          >
            With this approach we want to enable colleagues to express themselves, and if there's a potential bully,
            you would be able to let them know how you feel about their thought process.
            Obviously there's no shame in the way people think and they have their own right to their opinion, this merely enables them to talk about it and potentially avoid unnecessary conflict between colleagues.
          </p>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Personal reflection
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
            We shared the card game around and it showed that people were interested in something like this. To me it was a way to create scenario's people have been in before,
            and that people all have a different opinion on. I played the card game with my classmates and it shows that people have a different way to do things and that their thought process is a lot different than mine.
            I believe this was a really useful subject for me because it enabled me to think about how other people feel about bullying. We discussed with my classmates how they have been through these scenarios and how that made them feel.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-12/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-blue-600"
          >
            <img
              alt="..."
              src="assets/img/Design probes.png" height="900" width="1500"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block"
                style="height: 95px; top: -94px;"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-blue-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Design probes
              </h4>
              <p class="text-md font-light mt-2 text-white">
                What are the types of online shaming you've experienced?
              </p>
            </blockquote>
          </div>
        </div>
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-user-friends text-xl"><img src="assets/img/info.png" height="128"
                                                        width="128"/></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Online shaming/bullying examples
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
            This whiteboard is a way to make people choose what is shaming/bullying and what is not.
            Since there's no way people can trace you, it's all anonymous and you can just express your opinion with full honesty.
            As a group we looked up examples of people getting shamed or bullied, these are the ones we've personally seen online.
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
          >
            The shaming example i gave was the one about Arnold Schwarzenegger. His comment was put out of context which made it so that he got "cancelled".
            He expressed that people should not have freedom and said "Screw your freedom." This of course stirred controversy because it's in America.
            What he said in reality was that people should NOT get the freedom to put other peoples health at risk, they should stay inside, get vaccinated and keep their masks on.
            This of course is a very different message than the above stated.
          </p>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Personal reflection
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
            As someone who doesn't go through social media very often, this one came up to my by chance.
            It struck me as really disgusting that people would go to such an extent to make someone look bad/ get bad reputation.
            There's a lot of people that get shamed or bullied without actually being able to express the real situation.
            My classmates had an example where a tennis player got outed because they quit early because of personal reasons ( stress related ).
            This got her a ton of backlash and people started calling her names, which is unacceptable.
            From this i learned that people love to judge without knowing the entire story.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-12/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-blue-600"
          >
            <img
              alt="..."
              src="assets/img/chrome_0SW00zzJUw.png" height="591" width="1050"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block"
                style="height: 95px; top: -94px;"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-blue-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Vega collab
              </h4>
              <p class="text-md font-light mt-2 text-white">
                Creating awareness for bullying
              </p>
            </blockquote>
          </div>
        </div>
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-user-friends text-xl"><img src="assets/img/info.png" height="128"
                                                        width="128"/></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Keep the ball in your court
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
            We wanted to take the approach of showing that you have control over how much power a bully has.
            By showing everyone that you have a say in how someone gets effected by a bully, we can have a better environment for everyone.
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
          >
            To prevent bullying, we'll have to get to the bottom of bullying, the causes, effects and everything that comes with it, we'll do our research.
          </p>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Personal reflection
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
            Throughout the Vega collaboration we had really interesting workshops and meaningful input from our teachers,
            what struck me was that there's big cultural differences between the south african students and us dutch students.
            Their work ethic struck me as really hard working and they always worked over hours and past school times.
            Compared to us, we work on our assignments and when its after school time we go on with our own daily lives.
            <br>
            This has caused a few issues where they felt like we weren't actually hard workers and we had some conversations about that with them.
            All in all the work felt really unevenly distributed, I would have loved to work more on the project we had and expand on it.
            We wanted to work on the video for our project ( make a small short video where we act out parts of a script ) to show the way we want it to be expressed.
          </p>

          <h3>Script</h3>
          <img src="assets/img/chrome_Nbk0KrgHCS.png" height="658" width="703"/>
        </div>
      </div>
    </div>
  </section>
</main>
